<%= form_with(model: connection, local: true) do |form| %>
  <% if connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
        <% connection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :revoked %>
    <%= form.check_box :revoked %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.number_field :visibility %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
